* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.block {
	margin: 50px;
	width: 400px;
	display: flex;
	flex-direction: column;
}
.todo-list li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.todo-list span {
	font-style: italic;
}

.todo-list button {
	background-color: #bb2626;
	border: none;
	padding: 10px 20px;
	color: #fff;
	font: inherit;
	cursor: pointer;
}

.todo-input {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.todo-add {
	background-color: #249985;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}
